*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI','sans-serif';
}
.Parent{
    font-weight: 500;
    display: flex;
    margin: 1.5% 5%;
    justify-content: space-between;
    align-items: center;
}
.Child{
    display: flex;
    gap: 25px;
}
#headerBtn{
    background-color: blue;
    color: white;
    padding: 7px 15px;
    border-radius: 10px;
}